body {
  font-family: sans-serif;
}

.hidden {
  display: none;
}

.heading {
  font-size: x-large;
}

.superscript {
  font-size: smaller;
  vertical-align: super;
}

.cursor_help {
  cursor: help;
}

.collapsible_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#advanced_mode {
  margin-left: 5em;
}

#options > div {
    display: inline-block;
}

#track_select {
    min-width: 15em;
    vertical-align: top;
}

#track_options_box {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    min-width: 40em;
}

#delete_track {
  float: right;
  margin-right: 1em;
}

#pack_options {
    border: 1px solid black;
    vertical-align: top;
    min-width: 35em;
}

#desc {
  min-width: 31em;
}

#min_format, #max_format, #min_format_minor, #max_format_minor {
  max-width: 3em;
}

#icon_preview {
  max-width: 10em;
}