.heading {
  font-size: larger;
}

#track_options_box {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    min-width: 40em;
}

.collapsible_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#track_select {
    min-width: 15em;
    vertical-align: top;
}