body {
  font-family: sans-serif;
  background-color: white;
  color: black;
}

#titlebox {
  display: flex;
  align-items: baseline;
}

#by_me {
  margin-left: 0.5em;
}

.dark_mode {
  background-color: #281E29;
  color: white;
}

.hidden {
  display: none;
}

.heading {
  font-size: x-large;
}

.superscript {
  font-size: smaller;
  vertical-align: super;
}

.cursor_help {
  cursor: help;
}

.collapsible_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #90909020;
}

#advanced_mode, #dark_mode_toggle {
  margin-left: 5em;
}

#options > div {
  display: inline-block;
}

#track_select {
  min-width: 15em;
  vertical-align: top;
  background-color: inherit;
  color: inherit;
}

#track_options_box {
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
  min-width: 40em;
}

#delete_track, .delete_event {
  float: right;
  margin-right: 1em;
}

#volume {
  max-width: 4em;
}

.weights {
  max-width: 3em;
}

#custom_event_input {
  min-width: 25em;
}

#pack_options {
  border: 1px solid black;
  vertical-align: top;
  min-width: 35em;
}

#desc {
  min-width: 31em;
}

#min_format, #max_format {
  max-width: 3em;
}

#icon_preview {
  max-width: 10em;
}
