.heading {
  font-size: larger;
}

.superscript {
  font-size: smaller;
  vertical-align: super;
}

.collapsible_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#export_pack {
  margin-left: 5em;
}

#options > div {
    display: inline-block;
}

#track_select {
    min-width: 15em;
    vertical-align: top;
}

#track_options_box {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    min-width: 40em;
}

#pack_options {
    border: 1px solid black;
    vertical-align: top;
    min-width: 35em;
}

#desc {
  min-width: 31em;
}

#icon_preview {
  max-width: 10em;
}